<form action="/ThemGiangVien/GiangVien" method="post">
<form class="row g-3">
    <div class="col-md-5">
        <label for="inputEHoTen" class="form-label">Họ tên</label>
        <input type="text" class="form-control" id="inputHoTen">
    </div>
    <div class="col-md-5">
        <label for="inputTrinhDo" class="form-label">Trình độ</label>
        <input type="text" class="form-control" id="inputTrinhDo">
    </div>
    <div class="col-md-5">
        <label for="inputSdt" class="form-label">SĐT</label>
        <input type="number" class="form-control" id="inputSdt">
    </div>
    <div class="col-md-5">
        <label for="inputNgayLamViec" class="form-label">Ngày làm việc</label>
        <input type="date" class="form-control" id="inputNgayLamViec">
    </div>
    <div class="col-10">
        <label for="inputAddress" class="form-label">Địa chỉ</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-10">
        <button type="submit" class="btn btn-primary">Thêm</button>
        </div>
    </form>
</form>