<form action="/KhoaHoc/ThemKhoaHoc" method="post">
    <form class="row g-3">
        <div class="col-md-5">
            <label for="inputKhoaHocID" class="form-label">Mã khoá học</label>
            <input type="text" class="form-control" id="inputKhoaHocid">
        </div>
        <div class="col-md-5">
            <label for="inputTenKhoaHoc" class="form-label">Tên khoá học</label>
            <input type="text" class="form-control" id="inputTenKhoaHoc">
        </div>
        <div class="col-md-5">
            <label for="inputBatDau" class="form-label">Ngày bắt đầu</label>
            <input type="datetime" class="form-control" id="inputNgayBD">
        </div>
        <div class="col-md-5">
            <label for="inputNgayKetThuc" class="form-label">Ngày kết thúc</label>
            <input type="date" class="form-control" id="inputNgayKt">
        </div>
        <div class="col-10">
            <label for="HocPhi" class="form-label">Học Phí</label>
            <input type="number"  class="form-control" id="inputHP">
        </div>
        <div class="col-10">
            <button type="submit" class="btn btn-primary">Thêm</button>
        </div>
    </form>
</form>